body {
    background:linear-gradient(0deg, rgb(20, 20, 20) 0%,rgb(40, 45, 50) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
h1 {
    color: aliceblue;
    text-align: left;
    width: 224px;
    margin: 0 0 1.5em;
}
.login-form {
    display: flex;
    flex-direction: column;
    width: 224px;
}
    input {
        margin: .5em 0;
        padding: .5em 1em;
        background-color: transparent;
        border: 1px solid grey;
        border-radius: 10px;
        color: cyan
    }
        input:focus {
            outline: red;
            border: 1px solid cyan;
        }
    .login-btn {
        width: 25%;
        align-self: flex-end;
        border: 1px solid cyan;
        background-color: transparent;
        color: cyan;
    }
        .login-btn:focus {
            background-color: cyan;
            color: black;
        }
        .login-btn:hover {
            background-color: cyan;
            color: black;
        }
    .alert-container {
        padding: .7em .8em 0;
        height: 3em;
        color: orangered;
        font-size: 16px;
    }