body {
    margin: 10% 10%;
    border: 1px solid #23ffe2;
    border-radius: 15px;
    background:linear-gradient(0deg, rgb(20, 20, 20) 0%,rgb(40, 45, 50) 100%);
    font-family: 'Arial Narrow', Arial, sans-serif;
    user-select:none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    @media only screen and (min-width: 1025px){
        body {
            margin: 2.5% 38%;
            }
    }
.navbar {
    margin: 1.5em 2em;
    padding: 0;
    list-style-type: none;
}
    .btn-exit {
        float: right;
    }
        .exit-svg {
            height: 1em;
            width: 1em;
        }
.week-statistics {
    padding: 1em 2em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;
}
    .amount-per-day {
        font-size: 1.5em;
        color: #a6f7ed;
    }
    .day {
        font-size: .4em;
        color: #25fade9d;
    }
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 4em;
}
    @media only screen and (min-height: 800px){
        .main {
            padding: 0 0 45%;
        }
    }
    .first-statistics {
        margin: .2em 0;
        color: #a6f7ed;
        display: flex;
        font-size: .6em;
        align-items: baseline;
        width: 100%;
    }
        .total,.average {
            font-size: 6vh;
            text-align: end;
        }
        .total {
            margin: 0 0 0 .5em;
        }
        .average {
            margin: 0 0 0 -.5em;
        }
        .a {
            width: 25%;
        }
    .result {
        font-size: 20vh;
        margin: .2em 0;
        color: transparent;
        background-image: linear-gradient(to top,#23ffe2 25%, #23e5ff 100%);
        -webkit-background-clip: text;
    }
    .btn-undo {
        margin: 10% 0 5%;
        border-radius: 14px;
        border: 1px solid #23ffe2;
        background-color: transparent;
        font-size: .75em;
        padding: .5em 1.5em;
        color: #23ffe2;
    }
        .btn-undo:focus {
            outline: currentColor;
        }
        .undo-svg {
            width: 1em;
            height: 1em;
            padding: 0 0 .3em;
        }
    .date-container {
        height: 62px;
    }
        p {
            color: #a6f7ed;
            text-align: center;
        }